<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All the news</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    </link>
</head>

<body>
    <header class="hero is-dark is-bold" id="scraper-head">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-uppercase has-text-weight-bold">Scraper Science</h1>
                <h2 class="subtitle has-text-centered">The latest in Science News for everyone!
                </h2>
            </div>
        </div>
    </header>
    <main class="container">
        {{{ body }}}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="assets/js/index.js"></script>
</body>

</html>